# See useful tool to see data in future build context:
# https://github.com/pwaller/docker-show-context
#
# To download binary use page:
# https://github.com/pwaller/docker-show-context/releases
#
**/__pycache__/
.git/
.gitignore
.idea/
.pytest_cache/
Dockerfile
README.md
api-requests/
docker-compose.yml
htmlcov/
img/
jenkins-data/
mysql-data/
nginx-dev/
scripts/
tests/
truedoc-ui/
truedoc.egg-info/
upload/
