# See useful tool to see data in future build context:
# https://github.com/pwaller/docker-show-context
#
# To download binary use page:
# https://github.com/pwaller/docker-show-context/releases
#
**/__pycache__/
.git/
.gitignore
.idea/
.pytest_cache/
api-requests/
docker-compose.yml
Dockerfile
htmlcov/
img/
jenkins-data/
mysql-data/
nginx-dev/
README.md
scripts/
setup.py
tests/
truedoc-ui/
truedoc.egg-info/
upload/
website_mock/
