# Latest versions are available on https://pypi.org

alembic==1.2.0  # https://pypi.org/project/alembic/
blinker==1.4  # Required for 'sentry-sdk'
celery==4.3.0  # https://pypi.org/project/celery/
Flask==1.1.1  # https://pypi.org/project/Flask/
marshmallow==3.2.0  # https://pypi.org/project/marshmallow/
PyJWT==1.7.1  # https://pypi.org/project/PyJWT/
PyMySQL==0.9.3  # https://pypi.org/project/PyMySQL/
requests==2.22.0  # Required for 'api-requests': https://pypi.org/project/requests/
sentry-sdk==0.12.2  # https://pypi.org/project/sentry-sdk/
SQLAlchemy==1.3.8  # https://pypi.org/project/SQLAlchemy/

# Dev
pur==5.2.2  # Update requirements.txt to the latest versions: https://pypi.org/project/pur/
